# if you dont have pip, first install it
# https://pip.pypa.io/en/stable/installing/

# install virtualenv
pip install virtualenv

# create the env
virtualenv env

# First of all set up a virtual environment
Set-ExecutionPolicy -ExecutionPolicy RemoteSigned -Scope LocalMachine

# activate the virtual environment
# source env/bin/activate
env/Scripts/activate

# upgrade pip
python.exe -m pip install --upgrade pip

# install scikit learn/ sklearn
pip install sklearn
# pip install scikit-learn

# install pandas
pip install pandas

# install flask
pip install flask

# install pickle
pip install pickle-mixin
pip install pickleshare

# run the application
flask run